{% extends 'db/base.html' %}

{% block title %}Seznam článků{% endblock %}

{% block content %}
    <h2>Seznam článků</h2>

    {% if articles %}
        <ul>
            {% for article in articles %}
                <li>
                    <a href="{% url 'db:article_detail' article.pk %}">{{ article.title }}</a>
                    — {{ article.author }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Zatím nejsou žádné články.</p>
    {% endif %}

    <p><a href="{% url 'db:article_create' %}">Vytvořit nový článek</a></p>
{% endblock %}
